/*TRANG CHỦ*/
*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
}
.button {
    position: relative;
}

.cart {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

#slide {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    overflow: hidden;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
}
.logo {
    flex: 1;
}
.menu {
    flex: 3;
    display: flex;
}
.menu li {
    padding : 0 12px;
}
.menu li a {
    font-size: 12px;
    font-weight: bold;
}
.button {
    flex: 1;
    display: flex;

}
.button li {
    padding: 0 12px;
}
.button li:first-child {
    position: relative;
}
.button li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;

}
.button li:first-child i {
    position: absolute;
    right: 10px;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.4s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.dot-father {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dot {
    height: 16px;
    width: 18px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;

}
.dot:active {
    background-color: black;
}
.footer {
    background-color: #000;
    color: #fff; 
    padding: 20px 0;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb; 
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: #fff; 
}

.footer-section.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section a {
    padding: 5px;
    margin: 5px;
    color:white;
    line-height: 5px;
    
}

.footer-section a:hover img {
    filter: invert(50%); 
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.top {
    padding: 0 12px;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}
/*CARTERGORY*/

.cartegory {
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left {
    width: 20%;
    
}
.cartegory-right {
    width: 80%;
}
.cartegory-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.cartegory-right-top-item {
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}
.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;

}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
    
    
}
.cartegory-right-content-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: black;
    justify-content: center;
    text-align: center;
    
}
.cartegory-right-content-item img {
    width: 100%;
}
.cartegory-right-content-item p {
    font-size: 12px;
    text-align: center;
    
}
.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 12px;
    justify-content: left;
    align-items: left;
}
.cartegory-left ul li {
    padding: 12px 0;
}
.cartegory-left ul li a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
    padding-left: 10px;
}

.cartegory-left ul li ul li a {
    color: black;
}
/*---------carttttt----------*/
.car {
    padding: 100px 0;
}
.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.car-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;

}
.cart-top-item i {
    color: #dddddd;
}
.cart-top-cart {
    border: 1px solid #ADD8E6;
}
.cart-top-cart i {
    color: #ADD8E6;
}
.cart-content-left {
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}






